:root {
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*~~~~~~ COLOR PALETTE ~~~~~~~~~~*/
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  --white-purple: #f2e3e8c3;
  --pastel-lavender: #aba7de;
  --lavender: #9f8ae4;
  --light-purple: #795ad7;
  --medium-purple: #4d30b1;
  --dark-purple: #432678;
  --darkest-purple: #29206b;
  --grey-purple: #413c6d;
  --black: #141411;
  --text-shadow: rgba(41, 32, 107, 0.29);
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~ UNIVERSAL ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%; /* font-size = 10px*/
}

body {
  font-size: 1.6rem; /* font-size = 16px*/
}
html,
body {
  background-image: url("../public/images/brand-background-01.png");
  background-position: center;
  min-height: 100vh;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~ AVATAR ~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#avatar {
  border-radius: 50em;
  height: 10em;
  width: auto;
  border: 3px inset var(--dark-purple)
  /* margin-top: 26%; */
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~ TEXT ~~~~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.name,
.tagline {
  color: var(--black);
}
.name {
  padding: 2.5% 4%;

  font-size: 6em;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-shadow: 4px 4px 3px var(--text-shadow);
}
.tagline {
  font-family: "Varela Round", sans-serif;
  font-size: 2em;
  max-width: 600px;
  text-align: center;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~ CONTAINERS ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
  grid-area: hd;
}
/* this helps bring the background color to the top of the page */
header{
  height: 0.5em;
}
footer {
  height: 5em;
}
.wrapper,
footer {
  background: url("../public/images/brand-background-01.png");
  background-position: 10%;
  backdrop-filter: saturate(6);
  border: 2px outset var(--white-purple);
}
.wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 50%;
  border-radius: 40px;
}
.bio-container {
  grid-area: bc;
  width: 100%;
  display: flex;
  flex-grow: 2;
}
.bio-container,
.links-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links-container {
  grid-area: lc;
  display: flex;
  flex-shrink: 1;
}
footer {
  grid-area: ft;
  margin-top: 6em;
  padding: 10px;
  height: 4rem;
  font-size: 1.5rem;
  color: var(--white-purple);
  text-align: center;
  position: sticky;
  background-color: var(--darkest-purple);
  border: none;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

button {
  font-family: "Varela Round", sans-serif;
  font-size: 1.2em;
  margin: 0.5em;
  text-decoration: none;
  height: 1em;
  width: 23vh;
  color: white;
  background-color: var(--light-purple);
  border-radius: 6em;
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  /*~~~~~~~ BOX-SHADOW ~~~~~~~~~~~~~*/
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 20%);
  -webkit-box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 20%);
  -moz-box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 20%);
}
.social-text {
  font-size: 14pt;
}
button:visited {
  color: #aba7de;
}
button:hover {
  background-color: var(--darkest-purple);
  box-shadow: 4px 4px var(--light-purple);
  transition: 0.5s;
  cursor: pointer;
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~ MEDIA QUERIES ~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~ MOBILE FIRST ~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    height: 50em;
    width: 75%;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    grid-template-areas:
      "hd"
      "bc"
      "lc"
      "ft";
  }
  .bio-container {
    height: 3em;
  }
  .name {
    padding: 6% 4%;
    font-size: 1.5em;
  }
  .tagline {
    height: 1em;
    font-size: 1em;
    padding: 3% 3.5%;
  }
  .top{
    padding: 4%;
    margin-bottom: 2%;
  }
  .social-text {
    font-size: 10pt;
  }
  .bio-container,
  .links-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
  }
  button {
    height: 75%;
  }
  footer {
    margin-top: 1.5em;
    padding-top: 6.5%;
    min-height: 8em;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~ TABLETS ~~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 600px) and (max-width: 768px) {
  .wrapper {
    min-height: 95vh;
    width: 70%;
  }
  #avatar{
    margin-top: 8%;
  }
  .name{
    margin: 2% 0 2% 0;
    font-size: 2em;
  }
  .tagline {
    font-size: 1em;
    padding: 0% 6%;
  }
  .links-container{
    margin-top: 8%;
  }
  button{
    margin-top: 4%;
    height: 2em;
  }
  header{
    height: 0.5em;
  }
  footer{
    /* position: relative; */
    margin-top: 3%;
    height: 1em;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~ LAPTOPS ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 768px) and (max-width: 992px) {
  .wrapper{
    height: 100vh;
    width: 75%;
  }
  .bio-container{
    margin: 5% auto;
  }
  #avatar{
    height: 12em;
  }
  .name {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2%;
  }
  .links-container{
    margin-top: 1em;
  }
  .social-text{
    font-size: 1.2em;
  }
  button{
    height: 3.5em;
    width: 20em;
  }
  .tagline{
    padding: 0% 4%;
    font-size: 2em;
  }
  footer{
      width: 100%;
      font-size: 1.5em;
    /* margin-top: 1em; */
    height: 2em;
    
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~ iPad Mini ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

@media (min-width: 768px) and (max-height: 1024px){
  .wrapper{
    height: 95vh;
  }
  #avatar{
    height: 10em;
  }
  .bio-container{
    margin: 40px auto;
  }
  .name{
    font-size: 3em;
  }
  .tagline{
    font-size: 1.2em;
  }
button{
  height: 2.35em;
  width: 14em;
}
.links-container{
  display: flex;
  flex-wrap: wrap;
}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~~ Surface Pro ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (min-width: 912px) and (max-height: 1368px){
  .wrapper{
    height: 95vh;
  }
  #avatar{
    height: 20em;
  }
  .bio-container{
    margin: 40px auto;
  }
  .name{
    font-size: 3em;
  }
  .tagline{
    font-size: 1.2em;
  }
button{
  height: 3.5em;
  width: 18em;
}
.links-container{
  display: flex;
  flex-wrap: wrap;
}
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*~~~~~~~~~~~ LAPTOPS and LARGER SCREENS ~~~~~~~~~~~*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media(min-width: 1024px) and (min-height: 600px){
  .wrapper{
    height: 100%;
  }
  #avatar{
    height: 8em;
  }
  .bio-container{
    margin: 40px auto;
  }
  .name{
    font-size: 2em;
  }
  .tagline{
    font-size: 1.2em;
  }
button{
  height: 3em;
  width: 16em;
}
.links-container{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;
}
}