:root{
/* Color Palette */
--white-purple: hsla(345, 40%, 92%, 0.764);
--pastel-lavender:#aba7de;
--lavender: #9f8ae4; 
--light-purple: #795ad7; 
--medium-purple: #4d30b1; 
--dark-purple: #432678; 
--darkest-purple: #29206b; 
--grey-purple: #413c6d; 
--black: #141411; 
}

* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

html,
body {
  background-image: url("../public/images/brand-background-01.png");
  background-position: center;
  margin: 0 auto;
  min-height: 100vh;
}
/* AVATARS */
#avatar {
  border-radius: 50em;
  height: 95em;
  width: auto;
  margin-top: 14%;
}
.bio-container {
    grid-area: bc;
    height: 30vh;
    width: 100%;
  }
/* Text */
h1, p {
    color: var(--black);
}
h1{
    padding: 2.5% 4%;

    font-size: 22em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-shadow: 4px 4px 3px rgba(41, 32, 107, 0.29);
}
header, footer{
margin: 0 auto;
height: 5em;
}
footer{
    grid-area: ft;
    margin-top: 2em;
    padding: 15px;
    text-align: center;
    background-color: var(--darkest-purple);
    position: sticky;
    height: 4rem;
    color: var(--white-purple);
    font-size: 1rem;
}
p{
    font-family: 'Varela Round', sans-serif;
    font-size: 6em;
    text-align: center;
}
/* CONTAINERS */
.wrapper{
    background: url('../public/images/brand-background-01.png');
    background-position: 10%;
    opacity: .99;
    border: 2px outset var(--white-purple);
    border-radius: 40px;
    width: 50%;
    margin: 0 auto;
    height: 95vh;
}
.bio-container, .links-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links-container{
    grid-area: lc;
    height: 62vh;
    width: 50%;
}
/* BUTTONS */
button {
 font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  padding: 0.3em;
  margin: 3.5em;
  text-decoration: none;
  color: white;
  height: 4vh;
  width: 23vh;
  background-color: var(--light-purple);
  border-radius: 6em;
/* Boxshadow */
box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 0.61);
  -webkit-box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 0.61);
  -moz-box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 0.61);
}
button:visited {
    color: #aba7de;
}
button:hover {
  background-color: var(--darkest-purple);
  box-shadow: 4px 4px var(--light-purple);
  transition: 0.5s;
  cursor: pointer;
}

/* Mobile First */
@media only screen and (max-width: 600px) {
    .wrapper {
      display: grid;
      height: 100vh;
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "hd"
        "bc"
        "lc"
        "ft";
    }
    #avatar{
        margin: 0;
    }
    .bio-container{
        padding: 0;
        height: 136em;
    }
    h1{
        font-size: 20pt;
    }
    .links-container{
        padding: 0;
        height: 114em;
    }
    button{
        height: 75%;
    }
}