/* color palette */
:root {
  --white-purple: #f2e3e8c3;
  --pastel-lavender: #aba7de;
  --lavender: #9f8ae4;
  --light-purple: #795ad7;
  --medium-purple: #4d30b1;
  --dark-purple: #432678;
  --darkest-purple: #29206b;
  --grey-purple: #413c6d;
  --black: #141411;
  --text-shadow: rgba(41, 32, 107, 0.29);
}
/* universal styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  font-size: 16pt;
}
html{
  font-size: 62.5%;
}
body{
  background-image: url(assets/background.jpg);
  /*Image by <a href="https://www.freepik.com/free-vector/gradient-network-connection-background_12643221.htm#query=technology%20background&position=6&from_view=search&track=ais">Freepik</a> */
  background-position: center;
  color: white;
  font-family: sans-serif;
  letter-spacing: 2px;
  min-height: 100%;
  position: relative;
}
/* profile pic */
.avatar{
  display: block;
  margin: 8% auto 0 auto;
  height: auto;
  max-width: 6em;
  border-radius: 50%;
  border: 3px inset var(--dark-purple);
}

.name{
  padding: 1em;
  /* font-size: 2em; */
  padding: 2.5% 4%;
  padding-bottom: 1%;
  font-size: 1.2em;
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-shadow: 4px 4px 3px var(--text-shadow);
}
.name, .tagline{
  text-align: center;
  color: white;
}
.tagline{
  margin-bottom: 2em;
  padding-top: 0;
  font-size: 0.80em;
  font-family: "Varela Round", sans-serif;

}
.links{
  display: block;
  text-align: center;
  width: 16em;
  margin: .9em auto .9em auto;
  border-width: 2px;
  border-radius: 20px;
  font-size: 18px;
  padding: .5em;
  box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 20%);
  -webkit-box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 20%);
  -moz-box-shadow: 10px 10px 11px 6px rgba(41, 32, 91, 20%);
}

a{
  border: 2px solid var(--darkest-purple);
  text-decoration: none;
  color: white;
  transition: color 1s;
  font-family: "Varela Round", sans-serif;
  background-color: var(--light-purple);
}

a:hover{
  background-color: var(--darkest-purple);
box-shadow: 4px 4px var(--light-purple);
transition: 0.5s;
cursor: pointer;
}

footer {
  padding: 1%;
  width: 100%;
  font-size: 1.5rem;
  color: var(--white-purple);
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4em;
  margin: 0 auto;
  background-color: var(--grey-purple);
  border: none;
}